.main {
  padding: 12px;
}

.title {
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  margin-left: 16px;
}

.subtitle {
  margin-top: 0;
  font-size: 18px;
  color: #aaa;
  font-weight: 400;
  margin-bottom: 32px;
  margin-left: 16px;
}

.companies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 24px;
}

.company {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  height: 180px;
  transition: all 0.2s;
}
.company:hover {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.companyName {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.companyDomain {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-top: 4px;
  color: #aaa;
}
